.hidden {
    display: none;
}

.card-header {
    height: 5rem;
    background-color: #03DAC5;
}

.card-header h4 {
    color: #fff;
}

.active .btn {
    background-color: #03DAC5 !important;
}

.header-task-list div {
    color: #6C757D;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi.bi-trash {
    color: #E2243B;
}

.bi.bi-pencil {
    color: #007BFF;
}

.edit-task-modal {
    display: block;
}

.btn-simple {
    background-color: #03DAC5;
    color: #fff;
}

.collapse:not(.show) {
    display: none;
}

.accordion-header {
    margin: 0;
}

.accordion-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    color: #212529;
    border: 0;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    background-color: #fff;
    outline: 1px solid rgba(0, 0, 0, .125);
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
}

.accordion-button::after {
    flex-shrink: 0;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-item {
    outline: 1px solid rgba(0, 0, 0, .125);
}

